interface {{ r1.interfaceF00 }}
ip address {{ r1.f0/0_ipaddr }} {{ r1.f0/0_mask }}
no shut

interface {{ r1.interfaceL0 }}
ip address {{ r1.loopback0_ipaddr }} {{ r1.loopback0_mask }}
no shut

interface {{ r1.interfaceL1 }}
ip address {{ r1.loopback1_ipaddr }} {{ r1.loopkback_mask }}
no shut

