interface {{ r2.interfaceF00 }}
ip address {{ r2.f0/0_ipaddr }} {{ r2.f0/0_mask }}
no shut

interface {{ r2.interfaceL0 }}
ip address {{ r2.loopback0_ipaddr }} {{ r2.loopback0_mask }}
no shut

interface {{ r2.interfaceL1 }}
ip address {{ r2.loopback1_ipaddr }} {{ r2.loopkback_mask }}
no shut

